{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "observability.fullname" . }}-prometheus-config
  namespace: {{ include "observability.namespace" . }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.prometheus.evaluationInterval }}

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:{{ .Values.prometheus.service.port }}']

      {{- if .Values.gethMetrics.enabled }}
      - job_name: 'geth-metrics'
        metrics_path: {{ .Values.gethMetrics.metricsPath }}
        static_configs:
          - targets: ['{{ .Values.gethMetrics.serviceName }}.{{ .Values.gethMetrics.namespace }}.svc.cluster.local:{{ .Values.gethMetrics.port }}']
      {{- end }}

      {{- if .Values.loadGeneratorMetrics.enabled }}
      - job_name: 'load-generator'
        static_configs:
          - targets: ['{{ .Values.loadGeneratorMetrics.serviceName }}.{{ .Values.loadGeneratorMetrics.namespace }}.svc.cluster.local:{{ .Values.loadGeneratorMetrics.port }}']
      {{- end }}

      {{- if .Values.kubeDiscovery.enabled }}
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: kubernetes_pod_name
      {{- end }}
{{- end }}


